$background-color-primary: #fafbff;
$background-color-secondary: #ffffff;
$background-color-tertiary: #f9fbff;
$background-color-fourtiary: #f5f5f5;

$highlight-color: #5932ea;
$color-active: rgba(22, 192, 152, 38%);
$color-inactive: #ffc5c5;

$text-color-primary: #000000;
$text-color-secondary: #292d32;
$text-color-tertiary: #9197b3;
$text-color-fourtiary: #b5b7c0;
$text-color-fivetiary: #757575;
$text-color-sixetiary: #838383;
$text-color-active: #008767;
$text-color-inactive: #df0404;

$table-border-color: #eeeeee;
